@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: black;
}

img{
    width:400px;
    border-radius: 2rem;

}
.container{
    width: 50%;
    margin: 12% auto ;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:white;
}

input {
    border: 4px solid #00adb5;
    height: 30px;
    outline: none;
    padding-left: 15px;
    border-radius: 2rem;
    width:250px;
    height: 50px;
  }
  button {
    height: 50px;
    width: 100px;
    outline: none;
    width:200px;
    height: 50px;
    border: 4px solid #00adb5;
    border-radius: 2rem;
  }

  .result{
    margin: 30px auto;
    padding-top: 25px;
    width:250px;
    height: 50px;
    border-radius: 2rem;
    border: 4px solid #00adb5;
  }

  a {
    text-decoration: none;
    background-image: linear-gradient(to right, #bc9ff3, #2ebf91);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  ul {
    padding-left: 0;
  }
  footer {
    justify-content: center;
    font-size: 20px;
    margin: auto;
    padding: 0.5rem;
    max-width: 30%;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff41;
    font-family: 'Roboto', sans-serif;
    color: white;
  }

  @media only screen and (max-width: 600px) {
    .container {
      flex-direction: column;
      max-width: 100%;
    }
    img{
        max-width: 100%;
    }

    h1,input,button{
        max-width: 100%;
    }

    .result{
        max-width: 100%;
    }
  }